.main-wrapper {
}

/* Sidebar styling */
.main-sidebar {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  z-index: 2;
}

.main-sidebar ul {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding: 10px 10px 10px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  gap: 10px;
}

.main-sidebar-div {
  display: flex;
}

.main-sidebar-names {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
}
.main-sidebar-names ul {
  position: fixed;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  padding: 14px 10px 14px 10px;
  gap: 23px;
  display: flex;
  flex-direction: column;
  list-style: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  left: 40px;
  cursor: pointer;
  background-color: #e5e5e5;
}
.main-sidebar-names li:hover {
  color: #7c3aed;
}
.main-sidebar-names ul.closed {
  left: -40px;
}
.main-sidebar-names li {
  font-size: 11px;
  font-weight: 550;
}
a {
  text-decoration: none;
  color: inherit;
}
