.brand-btn {
  background-color: #e5e5e5;
  border: none;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 5px;
}
.sign-form {
  background-color: #e5e5e5;
  border-radius: 15px;
  width: 400px;
  height: 400px;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}
.social-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.sign-input {
  margin-bottom: 10px;
}
.signin-input {
  background: #fff;
  padding: 5px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid black;
}
input:focus {
  outline: none;
  border: 1px solid black;
}
.sign-btn {
  margin-top: 20px;
}
.wrapper {
  position: relative;
  top: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-box {
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid black;
}
.btn-box:hover {
  transform: translatey(-2px);
}
