@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.about-section {
  padding: 80px 20px;
  text-align: center;
  background-color: #e5e5e5;
}

.about-intro h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #111;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.about-intro p {
  font-size: 1.2rem;
  color: #111;
  max-width: 700px;
  margin: 0 auto 50px auto;
}

.about-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.feature-card {
  background: #fff;
  background: #e5e5e5;
  background-image: linear-gradient(90deg, #d9d9d9 1px, transparent 1px),
    linear-gradient(#d9d9d9 1px, transparent 1px);
  background-size: 20px 20px;

  border: 2px solid #3b82f6;
  border-radius: 12px;
  padding: 30px 20px;
  width: 220px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.feature-card:hover {
  border: 2px solid red;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.feature-card .icon {
  font-size: 2.5rem;
  margin-bottom: 35px;
}

.feature-card h3 {
  margin-bottom: 10px;
}

.feature-card p {
  color: #666;
  font-size: 0.95rem;
}

.about-visual img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
